@page
@model MyApp.Pages.Movies.Cast.IndexModel
@{
}

<a asp-page="./add" asp-route-movieId="@Model.MovieId" class="btn btn-success">Add Actor</a>


<table class="table ">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>

    </tr>
    @foreach (var actor in Model.CastList)
    {
        <tr>
            <td>@actor.FirstName</td>
            <td>@actor.LastName</td>
        </tr>
    }

</table>