@page
@model MyApp.Pages.Movies.Cast.IndexModel
@{
}

<a asp-page="./add" asp-route-movieId="@Model.MovieId" class="btn btn-success">Add Actor</a>


<table class="table ">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var actor in Model.CastList)
    {
        <tr>
            <td>

                <a asp-page="./movies" asp-route-actorId="@actor.Id">
                    @actor.FullName
                </a>

            </td>

        </tr>
    }

</table>