@page
@model MyApp.Pages.Movies.CreateModel
@{
}

<form method="post" class="form" enctype="multipart/form-data">
    <h2>Add New Movie</h2>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

        <div class="form-group">
        <label asp-for="PosterFile"></label>
        <input asp-for="PosterFile" class="form-control" />
        <span asp-validation-for="PosterFile" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="Language"></label>
        <br />
        <input asp-for="Language" type="radio" class="form-control-radio" value="English" checked /> English<br />
        <input asp-for="Language" type="radio" class="form-control-radio" value="French" /> French<br />
        <input asp-for="Language" type="radio" class="form-control-radio" value="Spanish" /> Spanish<br />
        
    </div>

     <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

        <div class="form-group">
        <label asp-for="IsWatched"></label>
        <input asp-for="IsWatched" class="form-control-checkbox" />
        <span asp-validation-for="IsWatched" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Score"></label>
        <select asp-for="Score"
                asp-items="Html.GetEnumSelectList<MyApp.Models.ScoreValue>()" class="form-control">
                <option value="">Not rated</option>
        </select>
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}