@page
@model MyApp.Pages.Movies.DetailsModel
@{
}

<p>Name : @Model.Movie.Name</p>
<p>Year : @Model.Movie.Year</p>
<p>Year : @Model.Movie.Score</p>

<p>@Model.Movie.Description</p>

<a class="btn btn-primary" asp-page="/movies/index" role="button">Back to Movie List</a>