@page
@model MyApp.Pages.Movies.IndexModel
@{
}

<a class="btn btn-primary m-3" asp-page="/movies/create" role="button">Add New Movie</a>

<table class="table ">
    <tr>
        <th>Name</th>
        <th>Year</th>
    </tr>

    @foreach(var movie in Model.MovieList)
    {
   <tr>
       <td>@movie.Name</td>
       <td>@movie.Year</td>
   </tr>
   }

</table>