@page
@model MyApp.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">My Movies</h1>

    <form method="get">

        <div class="form-group">
            <input asp-for="Term" class="form-control" />

        </div>

        <div class="form-group">
            <input asp-for="Score" class="form-control" />

        </div>

        <div class="form-group">
            <label asp-for="GenreList">Genre</label>
            <select name="genreId" asp-items="Model.GenreList" class="form-control">
            </select>

        </div>

        <button class="btn btn-primary">Search</button>
    </form>

</div>


<table class="table ">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Score</th>

        <th></th>
    </tr>

    @foreach (var movie in Model.MovieList)
    {
<tr>
    <td>@movie.Name</td>
    <td>@movie.Year</td>
    <td>@movie.Genre.Name</td>
    <td>@((int)(movie.Score ?? 0))</td>


</tr>
    }

</table>